@font-face { 
    font-family: "Inter"; 
    src: url("../Fonts/Tajawal/Tajawal-Regular.ttf"); 
}
@font-face { 
    font-family: "29LT Bukra"; 
    src: url("../Fonts/Bukra/29ltbukraregular.ttf"); 
}
@font-face { 
    font-family: "Almarai"; 
    src: url("../Fonts/Almarai/alfont_com_ArbFONTS-Almarai-Regular.ttf"); 
}
@font-face { 
    font-family: "Montserrat"; 
    src: url("../Fonts/Montaserat/Montserrat-Arabic-Regular.ttf"); 
}


* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  direction: rtl;
  margin: 0;
  padding: 0;

}
 html,body {
    overflow-x: hidden;
    overflow-y: auto;
   
 }
:root {
    --main-color: #151635;
    --secondry-color: #FFF;
}


.contaner {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    
}
@media (min-width: 768px) {
    .contaner {
        width: 800px;
    }

   
}
/* midium screen divices */
@media (min-width: 992px){
    .contaner {
        width: 1000px;
    }
   
}
/*large divices*/ 
@media (min-width: 1200px){
    .contaner {
        width: 90%;
    }
}

.intro {
    background-image: url("../Images/backgrounds/products-classes-image.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    
    width: 100vw;
    
    padding-bottom: 10%;
}
.blend {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(6, 12, 43, 0.60);
 
}
 
/* intro-text */
.intro-text {
    display: block;
    position: relative;
    flex:1;
    
}
/* .intro-text .contaner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
} */
.intro .contaner {
    display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;  
}
.intro-text {
    display: block;
    flex: 1;
    
}
.intro-text  .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    gap:15px;
    

}
.intro-text  .text h2 {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 54px;
    font-style: normal;
    font-weight: 700;
    line-height: 64.8px; /* 120% */
}




.intro-text  .text p {
    color: #F2F2F2;
text-align: center;
font-family: Inter;
font-size: 22px;
font-style: normal;
font-weight: 700;
line-height: 27.6px; /* 120% */
    
}

    @media (max-width:768px) {
        .intro-text {
           margin-top: 20%;
        }
        .intro-text .text h2 {
            font-size: 2.2rem;
        }
        .intro-text  .text  p {
            padding: 3px;
            font-size: 1.3rem;
            
        }
        .intro-text .text .hidden {
            opacity: 0;
            pointer-events: none;
        }
        
    }
    .categories .contaner {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        gap:15px;
        margin:50px auto;
    

    }
    .category-card {
        background-color: #fff;
        border-radius: 15px;
        margin: auto auto 25px auto;
        overflow: hidden;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
        transition: transform 0.3s ease;
      }
  
      .category-card:hover {
        transform: translateY(-15px);
      }
  
      .category-image {
        width: 100%;
        height: auto;
        object-fit: cover;
        cursor: pointer;
      }
  
      .category-content {
        padding: 16px;
        text-align: center;
      }
  
      .category-name h3 {
        color: #212121;
        text-align: center;
        font-family: Inter;
        font-size: 2.2rem;
        font-style: normal;
        font-weight: 700;
        line-height: 64.8px; /* 120% */
      }
  
      /* Responsive */
      @media (max-width: 768px) {
        .category-card {
          width: 90%;
        }
  
        .category-name h3 {
          font-size: 1.8rem;
        }
      }
/* end-statment */
.end-statment {
    display: block;
    width: 100vw;
    background-color: var(--secondry-color);
}
.end-statment .end-statment-content {
    margin-top:5%;
    margin-bottom: 5%;
}
.end-statment .end-statment-content h1 {
    position:relative;
    color: #151616;
text-align: center;
font-family: Inter;
font-size: 40.175px;
font-style: normal;
font-weight: 700;
line-height: 68.61px; /* 120% */
}

@media (max-width:767px) {
    .end-statment .end-statment-content h1 {
        font-size: 1.5rem;
    }
    .end-statment .end-statment-content h1::before {
        width: 30px;
        right: 0;
        margin-right: 0;
    }
    .end-statment .end-statment-content h1::after {
        width: 30px;
        left:0;
        margin-left: 0;
    }
}
/* animation */
.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(100%);
    transition: all 2s;
}
.hidden-Y {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(80%);
    transition: all 1.2s;
}
@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
    .hidden-Y {
        transition: none;
    }
}
.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}
