@font-face { 
    font-family: "Inter"; 
    src: url("../Fonts/Tajawal/Tajawal-Regular.ttf"); 
}
@font-face { 
    font-family: "29LT Bukra"; 
    src: url("../Fonts/Bukra/29ltbukraregular.ttf"); 
}
@font-face { 
    font-family: "Almarai"; 
    src: url("../Fonts/Almarai/alfont_com_ArbFONTS-Almarai-Regular.ttf"); 
}
@font-face { 
    font-family: "Montserrat"; 
    src: url("../Fonts/Montaserat/Montserrat-Arabic-Regular.ttf"); 
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    direction: rtl;
    margin: 0;
    padding: 0;
  
  }
:root {
    --main-color: #151635;
    --secondry-color: #FFF;
}

.header {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    z-index: 8;
}
.header .links {
    display: inline-block;
    flex: 1;
    margin-top: min(1.5rem,8%) ;
}
.header .links ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: min(70px,8%);
}
.header  .links ul li {
    position: relative;
    height: 35.529px;
    padding: 10px;
    margin-top: 20px;
    text-align: center;
    border-radius: 11.912px;
    transform: 0.3s ease;
    white-space: nowrap;
    list-style: none;
    z-index: 1;
}
.header  .links li a {
    position: relative;
    color: var(--secondry-color);
    font-family: "Montserrat";
    font-size: 18px;
    text-align: center;
    text-decoration: none;
   z-index: 2;
}
.header  .links li::after {
    content:"";
    position: absolute;
    width: 0;
    height: 0;
    border-radius: 11.242px;
    background: rgba(0, 0, 0, 0.16);
    right:0;
    top: 0;
    left: 0;
    z-index: 0;
    transition: 0.3s ease;
}

.header .links .hoverAble:hover::after {
    width: 100%;
    height: 100%;
}
.active {
   display: block;
   position: relative;
    background: rgba(0, 0, 0, 0.16);
}
/* on mobile */
 .mobile-icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    
    top:50px;
    z-index: 1;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    
}
 .mobile-icon span {
    background-color: #FFF;
    margin-bottom: 5px;
    height: 3px;
    transition: 0.3s;
    width: 100%;
}

@media (max-width:768px) {
    
 
    .mobile-icon {
        opacity: 1;
        pointer-events: auto;
        margin: 5% 5% 5% auto;
    }
    .header .links ul {
        opacity: 0;
        pointer-events: none;
        display:flex; 
        position:fixed;
        z-index:10;
        flex-direction: column;
        align-items:flex-start;
        justify-content:flex-start;
        background-color: var(--main-color);
        top:9%;
        right: 0;
        bottom:0;
        padding:20px;
        height: 0;
        width: 100%;
        transition: all 0.5s;
    
    }
 

}


/* .header .contaner .links ul {
    
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 70px;
    flex: 1;
    
} */

/*large divices*/ 
/* @media (min-width: 1200px){
    ul { 
        gap:50px;
    }
    img {
        width: 130px;
    }
} */
/* logo */
.header .image {
    margin-top: 2%;

}
.header .image img {
    width: 225px;
    height: auto;
}
/* mideum screen */
@media (max-width:992px) {
    .header .image img {
        width: 185px;
    }
}
/* mobile-screen */
@media (max-width:768px){
    .header .image {
        
    }
    .header .image img {
        width: 130px;
    }
}
/* intro-text */



