@font-face { 
    font-family: "Inter"; 
    src: url("../Fonts/Tajawal/Tajawal-Regular.ttf"); 
}
@font-face { 
    font-family: "29LT Bukra"; 
    src: url("../Fonts/Bukra/29ltbukraregular.ttf"); 
}
@font-face { 
    font-family: "Almarai"; 
    src: url("../Fonts/Almarai/alfont_com_ArbFONTS-Almarai-Regular.ttf"); 
}
@font-face { 
    font-family: "Montserrat"; 
    src: url("../Fonts/Montaserat/Montserrat-Arabic-Regular.ttf"); 
}


* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  direction: rtl;
  margin: 0;
  padding: 0;

}
 html,body {
    overflow-x: hidden;
    
   
 }
:root {
    --main-color: #151635;
    --secondry-color: #FFF;
}


.contaner {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    
}
@media (min-width: 768px) {
    .contaner {
        width: 800px;
    }

   
}
/* midium screen divices */
@media (min-width: 992px){
    .contaner {
        width: 1000px;
    }
   
}
/*large divices*/ 
@media (min-width: 1200px){
    .contaner {
        width: 90%;
    }
}

.intro {
    background-image: url("../Images/backgrounds/products-classes-image.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    width: 100%;
    padding-bottom: 10%;
}
.blend {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(6, 12, 43, 0.60);
 
}
 
/* intro-text */
.intro-text {
    display: block;
    position: relative;
    flex:1;
    
}
/* .intro-text .contaner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
} */
.intro .contaner {
    display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;  
}
.intro-text {
    display: block;
    flex: 1;
    
}
.intro-text  .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    
    

}
.intro-text  .text h2 {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 54px;
    font-style: normal;
    font-weight: 700;
    line-height: 64.8px; /* 120% */
    margin-bottom: 15px;
}




.intro-text  .text p {
    color: #F2F2F2;
text-align: center;
font-family: Inter;
font-size: 22px;
font-style: normal;
font-weight: 700;
line-height: 27.6px; /* 120% */
    margin-bottom: 15px;
}

    @media (max-width:768px) {
        .intro-text {
           margin-top: 20%;
        }
        .intro-text .text h2 {
            font-size: 2.2rem;
        }
        .intro-text  .text  p {
            padding: 3px;
            font-size: 1.3rem;
            
        }
        .intro-text .text .hidden {
            opacity: 0;
            pointer-events: none;
        }
        
    }
/* location-bar */
.location-bar {
    padding-top: 3%;
    position: relative;
    display: block;
    background-color: var(--main-color);
}
.location-bar ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    text-align: center;
    gap:min(30px,6%);  
    list-style: none;
}
.location-bar ul li {
    color: rgba(202, 202, 202, 0.79);
text-align: right;
font-family: Montserrat;
font-size: 23.352px;
font-style: normal;
font-weight: 600;
line-height: 23.352px; /* 100% */
text-transform: uppercase;
cursor: pointer;
transition: 0.3s ease;
}
.location-bar ul li:hover {
    color: #FFF;
}
.location-bar ul li svg {
    cursor:default;
}
/* small-screen */
@media (max-width:768px) {
    .location-bar ul li {
        font-size: 1rem;
        white-space: nowrap;
    }
}
/* products */
.products {
    display: block;
    width: 100%;
    background-color: var(--main-color);
    padding-top:5%;
}
.products .contaner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    justify-items: center;
}
.product {
    margin-bottom: 6%;
}
.product .content {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
}
.product .content .image {
    position: relative;
    left: -50px;
    
}
.product .content .image img {
    position: relative;
    width: 100%;
    height: auto;
}
.product .content .info {
    position: relative;
    z-index: 2;
    border-radius: 12.741px;
    background: #D6D6D6;
    box-shadow: 0px 3.747px 37.474px 0px rgba(33, 33, 33, 0.15);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: min(30px,10%);
    gap: min(40px,10%);
    
}
.product .content .info .name {
    color: #212121;
text-align: right;
font-family: Inter;
font-size: 22.731px;
font-style: normal;
font-weight: 700;
line-height: 33.277px; /* 120% */
text-transform: uppercase;
}
.product .content .info .description {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.product .info .text {
    color: #212121;
text-align: right;
font-family: Montserrat;
font-size: 0.9rem;
font-style: normal;
font-weight: 400;
line-height: 22.267px; /* 185.687% */
display: -webkit-box;
-webkit-line-clamp: 6;           /* عدد الأسطر */
-webkit-box-orient: vertical;
 overflow: hidden;
text-overflow: ellipsis;


}
.product .info .button {
    position: relative;
    z-index: 1;
    margin: auto 10% 10% auto ;
}
.product .info .button button {
    border-radius: 13.491px;
    background: #151635;
    width: 143.502px;
    height: 38.973px;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 700;
    line-height: 10.493px; /* 100% */
    cursor: pointer;
    transition: 0.3s ease;
}
.product .info .button button:hover {
    scale: 1.05;
}
/* mobile-screen */
@media (max-width: 768px) {
    .products .contaner {
        grid-template-columns: 1fr;
    }
    .product .info {
        width: 100%;
        height: 100%;
    }
    .product .info h3 {
        font-size: 1.3rem;
    }
    .product .info p {
        font-size: 1.0rem;
    }

    .product:first-child {
        margin-top: 20%;
    }
    .product:last-child {
        margin-bottom: 20%;
        
    }
    .product .info .name {
        font-size:1.2rem;
    }
    .product .info .description .text {
        display: -webkit-box;
        -webkit-line-clamp: 2;           /* عدد الأسطر */
        -webkit-box-orient: vertical;
         overflow: hidden;
        text-overflow: ellipsis;
    }
    .product .image img {
        width: 95%;
        height: 96%;
        top:5px;
    }
    .product .info .button button {
        width: 105px;
        font-size: 1rem;
        
    }
}


.product .overlay {
    position: fixed;
    border-radius: 32.708px;
    background: rgba(0, 0, 0, 0.94);
    z-index: 10;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    top:0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    
}
.product .overlay-appear {
    opacity: 1;
    pointer-events: all;
    
}
.overlay .overlay-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

}

.overlay .cancle-button  {
    position: sticky;
    margin-top: 40px;
    margin-right: 45px;
}
.overlay .cancle-button svg {
    cursor: pointer;
}

.overlay .overlay-content .image img {
   
    border-radius: 14.858px;
    margin: 35px 10px 25px auto;
    width: 100%;
    

}
.overlay .overlay-content .overlay-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 12.741px;
    box-shadow: 0px 3.747px 37.474px 0px rgba(33, 33, 33, 0.15);
   
}
.overlay .overlay-content .overlay-info h3 {
    color: #F6F6F6;
    text-align: center;
    font-family: Inter;
    font-size: 22.204px;
    font-style: normal;
    font-weight: 700;
    line-height: 29.045px; /* 120% */
    text-transform: uppercase;
    margin-bottom: 25px;
}
.overlay .overlay-content .overlay-info p {
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 16.933px;
    font-style: normal;
    font-weight: 400;
    line-height: 22.435px; /* 92.844% */
    padding: 20px;
}
/* mobile-screen */
@media(max-width:768px) {

}

/* page-numbers bar */
.page-number {
    display: block;
    position: relative;
    width: 100%;
    background-color: var(--main-color);
}
.page-number .content {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: min(25px,5%);
}
.page-number .content::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #FFF;
    top:20%;
}
.page-number .contaner .content .numbers {
   position: relative;
   width: 100%;
}
.page-number .content .numbers ul {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: min(40px,18%);
    margin-right: 8%;
    margin-left: 8%;
    transition: 0.3s ease;
    list-style: none;
}
.page-number .content .numbers ul li {
    position: relative;
    color: #FFF;
    font-size: 20px;
    cursor: pointer;
    

}
.page-number .content .numbers ul li::after{
    content: "";
    position: absolute;
    width:0;
    height: 5px;
    background-color: #6366F1;
    left: -2px;
    top:calc(0px - 16px);
    transition: 0.3s ease;
    z-index: 1;
    
}
.page-number .content .numbers ul li:hover {
    color:#4F46E5;
}
.page-number .content .numbers ul li:hover::after {
    width: 130%;
}
.content .control-signals {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap:min(15px,8%);
}
.content .control-signals span {
    font-size: 20px;
    color: #FFF;
}
.content .control-signals img {
    width: 35px;
    cursor: pointer;
} 
/* small-screens */
@media (max-width:768px) {
    .page-number .content {
        justify-content: center;
        gap:35px;
    }
    .content .control-signals span {
        font-size: 1.2rem;
    }
    .content .control-signals img {
        width: 30px;
        cursor: pointer;
    } 
}
/* end-statment */
.end-statment {
    display: block;
    width: 100%;
    background-color: var(--secondry-color);
}
.end-statment .end-statment-content {
    margin-top:5%;
    margin-bottom: 5%;
}
.end-statment .end-statment-content h1 {
    position:relative;
    color: #151616;
text-align: center;
font-family: Inter;
font-size: 37.175px;
font-style: normal;
font-weight: 700;
line-height: 68.61px; /* 120% */
}

@media (max-width:768px) {
    .end-statment .end-statment-content h1 {
        font-size: 1rem;
        
    }
    .end-statment .end-statment-content h1::before {
        width: 30px;
        right: 0;
        margin-right: 0;
    }
    .end-statment .end-statment-content h1::after {
        width: 30px;
        left:0;
        margin-left: 0;
    }
}
/* animation */
.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(100%);
    transition: all 2.5s;
}
.hidden-Y {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(100%);
    transition: all 2.5s;
}
@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
    .hidden-Y {
        transition: none;
    }
}
.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}
